{% extends 'skeleton.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button>Update</button>
{{ form_end(form) }}

<a href="{{path('removearticle', {id:article.id})}}"> <button>Delete</button></a> 
{% endblock content %}