/* navigateur */

.navbar {
  background-color: rgb(238, 173, 246);
  /* text-transform: uppercase;  text en majuscule*/
  /* overflow: hidden; */
}

ul {
  padding: 0;
  margin: 0;
}

ul.navigateur a {
  margin: 0px 25px;
}

.connect {
  margin: 0px;
  padding: 0px;
}

/* content */

.title {
 
  color: darkmagenta;
}

/* Form */

.formulaire {
  display: inline;
}

.title {
  text-align: center;
}

/* footer */

footer.container {
  background-color: rgb(238, 173, 246);
}

.nav-footer {
  text-align: center;
}

.nav-footer li {
  display: inline-flex;
  list-style: none;
}

.nav-footer li p {
  margin: 0px;
}