{% extends "skeleton.html.twig" %}
{% block title %}
  AboutMe
{% endblock title %}
{% block content %}
<div class="container">
  <h2 class="title">About Me</h2>
<p>
  Une petite explication ^^ 
  J'ai eu envie de réalise ce blog pour vous parler un peu de maquillage, le rêve de toutes les filles...

</p>
</div>
{% endblock content %}
