{% extends "skeleton.html.twig" %}
{% block title %}
  Article
{% endblock title %}
{% block content %}

<h2>Bienvenue!! Voici mes Articles</h2>


 <main class="container-fluid"> <div class="">
   
  {% for row in result %}
    
<a href="{{path('one_article', {id:row.id})}}">
       
  <div class="col-md-3">
<div class="card">
<div class="card-body">
<h5 class="card-title">{{row.title}}</h5>
<p class="card-text">{{row.contenu}}</p>
<p class="card-text">{{row.date.format('d/m/Y')}}</p>
<p class="card-text">{{row.nb_vue}}</p>
<p class="card-text">{{row.auteur}}</p>


</div>
</div>

</div>
</a>

{% endfor %}</div></main> 
  
{% endblock content %}