{% extends "skeleton.html.twig" %}
{% block title %}
  Contact
{% endblock title %}

{% block form %}
<div class="container">
<h2 class="title">Contact</h2>
      {# /contact.html.twig #}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}

      {{contact.name}}
      {{contact.surname}}
      {{contact.message}}
</div>
{% endblock form %} 