{% extends "skeleton.html.twig" %}
{% block title %}
 Création Artcile
{% endblock title %}

{% block content %}

{{ form_start(form) }}
{{ form_widget(form) }} 
<button class="btn-btn-primary">Valide</button>   
{{ form_end(form) }}
  
{% endblock content %}