{% extends "skeleton.html.twig" %}


{% block title %}
  Home
{% endblock title %}



{% block content %}
<h2 class="title">Home</h2>
  <p class="title">Bienvenue sur mon blog</p>
{% endblock content %}
