{% extends 'skeleton.html.twig' %}



{% block body %}
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Update Article</button>
{{form_end(form)}}

<a class="btn btn-danger" href="{{path('removearticle', {id:row.id})}}">Remove Article
</a>
{% endblock %}