<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"> 
  {# ----Lien Bootstrap----------#}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> 
    {# -----lien logo------- #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
    crossorigin="anonymous">
    {# ----lien css---- #}
  <link rel="stylesheet" href=" {{asset("./css/style.css")}}">
   {# PS: l'ordre des liens est important, celui qui sera en derniere sera le lien principale ici style.css #}

  <title>Le blog -{% block title %} {% endblock title %}</title>

</head>

<body>

  {# ----navbarre---- #} 
  
  <nav class="navbar navbar-expand-md container navbar-light">
    {# ----bouton-responsive----- #}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      {# -----Barre de rechercher------ #}

      <div class="form-inline my-2 my-lg-0 recherche">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
      </div>

      {# ------barre de navigateur------ #}

      <ul class="navbar-nav mr-auto navigateur">
        <li class="nav-item">
          <a class="nav-link" href="{{ path("article") }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("add/article") }}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("aboutme") }}">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("contact") }}">Contact</a>
        </li>
      </ul>
      <p class="connect ml-auto">
        <a class="nav-link " href="{{ path("connexion") }}">Connexion</a>
      </p>
  </nav>
  </div>
  
  {# ----content-contenus---- #}
  <div class="container">
    {% block content %}
 
    {% endblock content %}
  </div>
  
  {# ----Formulaire---- #} 
  
  {% block form %}

  {% endblock form %} 

  {# ---footer---- #} 

  {% block footer %}


    <footer class="container">
               
                <ul class="nav-footer">
                   <li>
                  <p>© 2018 Copyright</p>
                </li>
                     <li class="nav-item ">
                        <a class="nav-link " href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="https://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                      </li>
                      </ul>
                    </ul>
          
  </footer>

  {% endblock footer %} 

  
  {# -----Lien js-boostrap------ #}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>