{% extends 'skeleton.html.twig' %}

{% block content %}
    
<article>
    <h3>{{row.title}}</h3>
    <p>{{row.contenu}}</p>
    <p>{{row.date.format('d/m/Y')}}</p>
    <p>{{row.auteur}}</p>

  
    
</article>
{% endblock content %}
